body {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    background-color: #e0f7fa;
}

.game-container {
    margin: 50px auto;
    width: 300px;
    height: 600px; /* Set a fixed height for the container */
    position: relative; /* Relative positioning for proper layout */
}

#tree {
    width: 100%;
    max-width: auto; /* Set a maximum width */
    max-height: 300px; /* Maintain aspect ratio */
    transition: transform 0.5s;
    display: block;
    margin: 0 0; /* Center the image */
    position: absolute;
}

.controls {
    margin: 20px 0;
    position: absolute;
    bottom: 40px;
    width: 100%;
}


.btn-16 {
    border: none;
    color: #000;
  }
  .btn-16:after {
    position: absolute;
    content: "";
    width: 0;
    height: 100%;
    top: 0;
    left: 0;
    direction: rtl;
    z-index: -1;
    box-shadow:
     -7px -7px 20px 0px #fff9,
     -4px -4px 5px 0px #fff9,
     7px 7px 20px 0px #0002,
     4px 4px 5px 0px #0001;
    transition: all 0.3s ease;
  }
  .btn-16:hover {
    color: #000;
  }
  .btn-16:hover:after {
    left: auto;
    right: 0;
    width: 100%;
  }
  .btn-16:active {
    top: 2px;
  }

button {
    margin: 5px;
    padding: 10px 20px;
    border: none;
    background-color: #4caf50;
    color: white;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

#message {
    position: absolute;
    bottom: 0;
    width: 100%;
    font-size: 1.2em;
    color: #ff5722;
    margin-top: 10px;
}